{% extends 'base.html' %}
{% load static %}

{% block background %}
{% endblock %}
{% block content %}
    <section class="product_section layout_padding" id="categories">
         <div class="container">
            <div class="heading_container heading_center">
               <h2 class="text-center">
                  Login now
               </h2>
            </div>
         </div>
</section>
<div class="container w-50 border border-4 border-danger p-5 mb-5">
<form method="POST">
    {% csrf_token %}
    <table>
    {{form.as_table}}
        </table>
    <input type="submit" class="btn btn-danger">
</form>

    </div>

{% endblock %}